In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

data_path = os.path.join("Modul 6", "lead_scoring.csv")
print(data_path)

Modul 6\lead_scoring.csv

In [35]:
data = pd.read_csv(data_path)

In [3]:
data.shape #jumlah (baris, kolom)

(9240, 37)

In [4]:
data.sample(5, random_state=91)

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
6936,2154ccbd-41f9-46f0-9edb-308cde9fc52d,596447,Landing Page Submission,Google,No,No,0,2.0,238,2.0,...,No,Select,Jakarta,NaN,NaN,NaN,NaN,No,No,Modified
2140,5f05a482-8fb5-4fe8-aca3-0f7b9d794178,639211,Lead Add Form,Reference,No,No,1,0.0,0,0.0,...,No,Potential Lead,Bodetabek,02.Medium,02.Medium,14.0,16.0,No,No,Modified
4377,2be87f90-5931-49dc-bb87-54d8452cb693,617791,Landing Page Submission,Google,No,No,0,5.0,582,5.0,...,No,Select,Jakarta,NaN,NaN,NaN,NaN,No,No,SMS Sent
5208,65e13a16-f5c0-49a1-8187-a4795a5941fb,609879,Landing Page Submission,Direct Traffic,No,No,0,3.0,1686,3.0,...,No,Select,Bodetabek,NaN,NaN,NaN,NaN,No,Yes,Email Opened
1041,0adb324b-c2a3-4880-a928-6e1589914ab4,649091,Landing Page Submission,Google,No,No,0,7.0,1541,3.5,...,No,NaN,Cities in Banten & Jawa Barat,02.Medium,01.High,14.0,17.0,No,Yes,Email Opened

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Prospect ID                                     9240 non-null   object
 1   Lead Number                                     9240 non-null   int64
 2   Lead Origin                                     9240 non-null   object
 3   Lead Source                                     9204 non-null   object
 4   Do Not Email                                    9240 non-null   object
 5   Do Not Call                                     9240 non-null   object
 6   Converted                                       9240 non-null   int64
 7   TotalVisits                                     9103 non-null   float64
 8   Total Time Spent on Website                     9240 non-null   int64
 9   Page Views Per Visit                            9103 non-null   float64
 10  Last Activity                                   9137 non-null   object
 11  Country                                         6779 non-null   object
 12  Specialization                                  7802 non-null   object
 13  How did you hear about Madugital                7033 non-null   object
 14  What is your current occupation                 6550 non-null   object
 15  What matters most to you in choosing a product  6531 non-null   object
 16  Search                                          9240 non-null   object
 17  Magazine                                        9240 non-null   object
 18  Newspaper Article                               9240 non-null   object
 19  Madugital Telegram                              9240 non-null   object
 20  Newspaper                                       9240 non-null   object
 21  Digital Advertisement                           9240 non-null   object
 22  Through Recommendations                         9240 non-null   object
 23  Receive More Updates About Our Products         9240 non-null   object
 24  Tags                                            5887 non-null   object
 25  Lead Quality                                    4473 non-null   object
 26  Update me on Supply Chain Content               9240 non-null   object
 27  Get updates on DM Content                       9240 non-null   object
 28  Lead Profile                                    6531 non-null   object
 29  City                                            7820 non-null   object
 30  Asymmetrique Activity Index                     5022 non-null   object
 31  Asymmetrique Profile Index                      5022 non-null   object
 32  Asymmetrique Activity Score                     5022 non-null   float64
 33  Asymmetrique Profile Score                      5022 non-null   float64
 34  I agree to pay the amount through cheque        9240 non-null   object
 35  A free copy of Mastering The Interview          9240 non-null   object
 36  Last Notable Activity                           9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [6]:
data.isna().mean() * 100 # persentase baris yang kosong dari keseluruhan

Prospect ID                                        0.000000
Lead Number                                        0.000000
Lead Origin                                        0.000000
Lead Source                                        0.389610
Do Not Email                                       0.000000
Do Not Call                                        0.000000
Converted                                          0.000000
TotalVisits                                        1.482684
Total Time Spent on Website                        0.000000
Page Views Per Visit                               1.482684
Last Activity                                      1.114719
Country                                           26.634199
Specialization                                    15.562771
How did you hear about Madugital                  23.885281
What is your current occupation                   29.112554
What matters most to you in choosing a product    29.318182
Search                                             0.000000
Magazine                                           0.000000
Newspaper Article                                  0.000000
Madugital Telegram                                 0.000000
Newspaper                                          0.000000
Digital Advertisement                              0.000000
Through Recommendations                            0.000000
Receive More Updates About Our Products            0.000000
Tags                                              36.287879
Lead Quality                                      51.590909
Update me on Supply Chain Content                  0.000000
Get updates on DM Content                          0.000000
Lead Profile                                      29.318182
City                                              15.367965
Asymmetrique Activity Index                       45.649351
Asymmetrique Profile Index                        45.649351
Asymmetrique Activity Score                       45.649351
Asymmetrique Profile Score                        45.649351
I agree to pay the amount through cheque           0.000000
A free copy of Mastering The Interview             0.000000
Last Notable Activity                              0.000000
dtype: float64

In [7]:
# check nilai-nilai yang ada di kolom Ã‡ountry
data["Country"].unique()

array([nan, 'Indonesia', 'Russia', 'Kuwait', 'Oman',
       'United Arab Emirates', 'United States', 'Australia',
       'United Kingdom', 'Bahrain', 'Ghana', 'Singapore', 'Qatar',
       'Saudi Arabia', 'Belgium', 'France', 'Sri Lanka', 'China',
       'Canada', 'Netherlands', 'Sweden', 'Nigeria', 'Hong Kong',
       'Germany', 'Asia/Pacific Region', 'Uganda', 'Kenya', 'Italy',
       'South Africa', 'Tanzania', 'unknown', 'Malaysia', 'Liberia',
       'Switzerland', 'Denmark', 'Philippines', 'Bangladesh', 'Vietnam',
       'India'], dtype=object)

In [8]:
# mengisi missing records di kolom country
data_dropped = data.copy()
data_dropped['Country'] = data_dropped['Country'].fillna('unknown')

In [9]:
# check nilai-nilai yang ada di kolom What is your current occupation
data["What is your current occupation"].unique()

array(['Unemployed', 'Student', nan, 'Working Professional',
       'Businessman', 'Other', 'Housewife'], dtype=object)

In [10]:
# mengisi missing records di kolom What is your current occupation
data_dropped['What is your current occupation'] = data_dropped['What is your current occupation'].fillna('Other')

In [11]:
# check nilai-nilai yang ada di kolom What is How did you hear about Madugital
data["How did you hear about Madugital"].unique()

array(['Select', 'Word Of Mouth', 'Other', nan, 'Online Search',
       'Multiple Sources', 'Advertisements', 'Student of SomeSchool',
       'Email', 'Social Media', 'SMS'], dtype=object)

In [12]:
# mengisi missing records di kolom How did you hear about Madugital
data_dropped['How did you hear about Madugital'] = data_dropped['How did you hear about Madugital'].fillna('Select')

In [13]:
data_dropped.isna().mean() * 100 # persentase baris yang kosong dari keseluruhan

Prospect ID                                        0.000000
Lead Number                                        0.000000
Lead Origin                                        0.000000
Lead Source                                        0.389610
Do Not Email                                       0.000000
Do Not Call                                        0.000000
Converted                                          0.000000
TotalVisits                                        1.482684
Total Time Spent on Website                        0.000000
Page Views Per Visit                               1.482684
Last Activity                                      1.114719
Country                                            0.000000
Specialization                                    15.562771
How did you hear about Madugital                   0.000000
What is your current occupation                    0.000000
What matters most to you in choosing a product    29.318182
Search                                             0.000000
Magazine                                           0.000000
Newspaper Article                                  0.000000
Madugital Telegram                                 0.000000
Newspaper                                          0.000000
Digital Advertisement                              0.000000
Through Recommendations                            0.000000
Receive More Updates About Our Products            0.000000
Tags                                              36.287879
Lead Quality                                      51.590909
Update me on Supply Chain Content                  0.000000
Get updates on DM Content                          0.000000
Lead Profile                                      29.318182
City                                              15.367965
Asymmetrique Activity Index                       45.649351
Asymmetrique Profile Index                        45.649351
Asymmetrique Activity Score                       45.649351
Asymmetrique Profile Score                        45.649351
I agree to pay the amount through cheque           0.000000
A free copy of Mastering The Interview             0.000000
Last Notable Activity                              0.000000
dtype: float64

In [14]:
data.shape

(9240, 37)

In [15]:
# check baris yang duplikat
data.loc[data['Prospect ID'].duplicated()]

Empty DataFrame
Columns: [Prospect ID, Lead Number, Lead Origin, Lead Source, Do Not Email, Do Not Call, Converted, TotalVisits, Total Time Spent on Website, Page Views Per Visit, Last Activity, Country, Specialization, How did you hear about Madugital, What is your current occupation, What matters most to you in choosing a product, Search, Magazine, Newspaper Article, Madugital Telegram, Newspaper, Digital Advertisement, Through Recommendations, Receive More Updates About Our Products, Tags, Lead Quality, Update me on Supply Chain Content, Get updates on DM Content, Lead Profile, City, Asymmetrique Activity Index, Asymmetrique Profile Index, Asymmetrique Activity Score, Asymmetrique Profile Score, I agree to pay the amount through cheque, A free copy of Mastering The Interview, Last Notable Activity]
Index: []

[0 rows x 37 columns]

In [16]:
# menghitung hubungan antara dua variable
pd.crosstab(data_dropped['Country'], data_dropped['Converted'], normalize=True) # normalize=True

Converted                    0         1
Country
Asia/Pacific Region   0.000108  0.000108
Australia             0.001082  0.000325
Bahrain               0.000325  0.000433
Bangladesh            0.000108  0.000108
Belgium               0.000216  0.000000
Canada                0.000433  0.000000
China                 0.000216  0.000000
Denmark               0.000000  0.000108
France                0.000325  0.000325
Germany               0.000325  0.000108
Ghana                 0.000216  0.000000
Hong Kong             0.000325  0.000433
India                 0.000108  0.000000
Indonesia             0.442749  0.259848
Italy                 0.000216  0.000000
Kenya                 0.000108  0.000000
Kuwait                0.000433  0.000000
Liberia               0.000108  0.000000
Malaysia              0.000108  0.000000
Netherlands           0.000108  0.000108
Nigeria               0.000433  0.000000
Oman                  0.000325  0.000325
Philippines           0.000216  0.000000
Qatar                 0.000974  0.000108
Russia                0.000108  0.000000
Saudi Arabia          0.001840  0.000433
Singapore             0.001407  0.001190
South Africa          0.000325  0.000108
Sri Lanka             0.000108  0.000000
Sweden                0.000216  0.000108
Switzerland           0.000108  0.000000
Tanzania              0.000108  0.000000
Uganda                0.000216  0.000000
United Arab Emirates  0.003571  0.002165
United Kingdom        0.001082  0.000541
United States         0.005519  0.001948
Vietnam               0.000108  0.000000
unknown               0.150325  0.116558

In [17]:
pd.crosstab(data_dropped['Country'], data_dropped['What is your current occupation'], normalize=True) # normalize=True

What is your current occupation,Businessman,Housewife,Other,Student,Unemployed,Working Professional
Country,,,,,,
Asia/Pacific Region,0.000000,0.000000,0.000216,0.000000,0.000000,0.000000
Australia,0.000000,0.000000,0.000541,0.000000,0.000758,0.000108
Bahrain,0.000000,0.000000,0.000216,0.000000,0.000216,0.000325
Bangladesh,0.000000,0.000000,0.000108,0.000000,0.000108,0.000000
Belgium,0.000000,0.000000,0.000216,0.000000,0.000000,0.000000
Canada,0.000000,0.000000,0.000216,0.000000,0.000216,0.000000
China,0.000000,0.000000,0.000108,0.000000,0.000108,0.000000
Denmark,0.000000,0.000000,0.000000,0.000000,0.000000,0.000108
France,0.000000,0.000000,0.000108,0.000108,0.000433,0.000000
Germany,0.000000,0.000000,0.000216,0.000000,0.000216,0.000000
Ghana,0.000000,0.000000,0.000108,0.000000,0.000108,0.000000
Hong Kong,0.000000,0.000000,0.000108,0.000000,0.000541,0.000108
India,0.000000,0.000000,0.000000,0.000000,0.000108,0.000000
Indonesia,0.000649,0.000649,0.190693,0.014935,0.446753,0.048918
Italy,0.000000,0.000000,0.000108,0.000000,0.000108,0.000000
Kenya,0.000000,0.000000,0.000000,0.000000,0.000108,0.000000
Kuwait,0.000000,0.000000,0.000108,0.000000,0.000325,0.000000
Liberia,0.000000,0.000000,0.000108,0.000000,0.000000,0.000000
Malaysia,0.000000,0.000000,0.000000,0.000000,0.000108,0.000000
Netherlands,0.000000,0.000000,0.000000,0.000000,0.000216,0.000000
Nigeria,0.000000,0.000000,0.000108,0.000000,0.000325,0.000000
Oman,0.000000,0.000000,0.000108,0.000000,0.000433,0.000108
Philippines,0.000000,0.000000,0.000000,0.000000,0.000216,0.000000
Qatar,0.000000,0.000000,0.000108,0.000000,0.000974,0.000000
Russia,0.000000,0.000000,0.000000,0.000000,0.000108,0.000000
Saudi Arabia,0.000000,0.000000,0.000541,0.000108,0.001515,0.000108
Singapore,0.000000,0.000000,0.000649,0.000000,0.001515,0.000433
South Africa,0.000000,0.000000,0.000108,0.000000,0.000325,0.000000
Sri Lanka,0.000000,0.000000,0.000000,0.000000,0.000108,0.000000
Sweden,0.000000,0.000000,0.000108,0.000000,0.000216,0.000000
Switzerland,0.000000,0.000000,0.000108,0.000000,0.000000,0.000000
Tanzania,0.000000,0.000000,0.000000,0.000000,0.000108,0.000000
Uganda,0.000000,0.000000,0.000000,0.000000,0.000216,0.000000
United Arab Emirates,0.000000,0.000000,0.001515,0.000000,0.003571,0.000649
United Kingdom,0.000000,0.000000,0.000433,0.000000,0.001082,0.000108
United States,0.000000,0.000108,0.002489,0.000000,0.004545,0.000325
Vietnam,0.000000,0.000000,0.000000,0.000000,0.000108,0.000000
unknown,0.000216,0.000325,0.093398,0.007576,0.140260,0.025108

In [18]:
# pandas dummies
dummies = pd.get_dummies(data_dropped[['Country', 'What is your current occupation', 'How did you hear about Madugital']], drop_first=True)
final_data = data_dropped.join(dummies)
dummies.head()

,Country_Australia,Country_Bahrain,Country_Bangladesh,Country_Belgium,Country_Canada,Country_China,Country_Denmark,Country_France,Country_Germany,Country_Ghana,...,What is your current occupation_Working Professional,How did you hear about Madugital_Email,How did you hear about Madugital_Multiple Sources,How did you hear about Madugital_Online Search,How did you hear about Madugital_Other,How did you hear about Madugital_SMS,How did you hear about Madugital_Select,How did you hear about Madugital_Social Media,How did you hear about Madugital_Student of SomeSchool,How did you hear about Madugital_Word Of Mouth
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [19]:
final_data.columns

Index(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',
       'Do Not Email', 'Do Not Call', 'Converted', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about Madugital',
       'What is your current occupation',
       'What matters most to you in choosing a product', 'Search', 'Magazine',
       'Newspaper Article', 'Madugital Telegram', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Products', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index', 'Asymmetrique Activity Score',
       'Asymmetrique Profile Score',
       'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity',
       'Country_Australia', 'Country_Bahrain', 'Country_Bangladesh',
       'Country_Belgium', 'Country_Canada', 'Country_China', 'Country_Denmark',
       'Country_France', 'Country_Germany', 'Country_Ghana',
       'Country_Hong Kong', 'Country_India', 'Country_Indonesia',
       'Country_Italy', 'Country_Kenya', 'Country_Kuwait', 'Country_Liberia',
       'Country_Malaysia', 'Country_Netherlands', 'Country_Nigeria',
       'Country_Oman', 'Country_Philippines', 'Country_Qatar',
       'Country_Russia', 'Country_Saudi Arabia', 'Country_Singapore',
       'Country_South Africa', 'Country_Sri Lanka', 'Country_Sweden',
       'Country_Switzerland', 'Country_Tanzania', 'Country_Uganda',
       'Country_United Arab Emirates', 'Country_United Kingdom',
       'Country_United States', 'Country_Vietnam', 'Country_unknown',
       'What is your current occupation_Housewife',
       'What is your current occupation_Other',
       'What is your current occupation_Student',
       'What is your current occupation_Unemployed',
       'What is your current occupation_Working Professional',
       'How did you hear about Madugital_Email',
       'How did you hear about Madugital_Multiple Sources',
       'How did you hear about Madugital_Online Search',
       'How did you hear about Madugital_Other',
       'How did you hear about Madugital_SMS',
       'How did you hear about Madugital_Select',
       'How did you hear about Madugital_Social Media',
       'How did you hear about Madugital_Student of SomeSchool',
       'How did you hear about Madugital_Word Of Mouth'],
      dtype='object')

In [20]:
final_data = final_data.drop(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',
       'Do Not Email', 'Do Not Call', 'TotalVisits',
       'Total Time Spent on Website', 'Page Views Per Visit', 'Last Activity',
       'Country', 'Specialization', 'How did you hear about Madugital',
       'What is your current occupation',
       'What matters most to you in choosing a product', 'Search', 'Magazine',
       'Newspaper Article', 'Madugital Telegram', 'Newspaper',
       'Digital Advertisement', 'Through Recommendations',
       'Receive More Updates About Our Products', 'Tags', 'Lead Quality',
       'Update me on Supply Chain Content', 'Get updates on DM Content',
       'Lead Profile', 'City', 'Asymmetrique Activity Index',
       'Asymmetrique Profile Index', 'Asymmetrique Activity Score',
       'Asymmetrique Profile Score',
       'I agree to pay the amount through cheque',
       'A free copy of Mastering The Interview', 'Last Notable Activity'], 1)

C:\Users\Dell Vostro.DESKTOP-93R7U6G\AppData\Local\Temp\ipykernel_560\3151489642.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  final_data = final_data.drop(['Prospect ID', 'Lead Number', 'Lead Origin', 'Lead Source',

In [21]:
# import libraries
from sklearn.model_selection import train_test_split

train, test = train_test_split(final_data, test_size=0.3, random_state=0)

In [22]:
train.shape, test.shape

((6468, 52), (2772, 52))

In [23]:
train.columns

Index(['Converted', 'Country_Australia', 'Country_Bahrain',
       'Country_Bangladesh', 'Country_Belgium', 'Country_Canada',
       'Country_China', 'Country_Denmark', 'Country_France', 'Country_Germany',
       'Country_Ghana', 'Country_Hong Kong', 'Country_India',
       'Country_Indonesia', 'Country_Italy', 'Country_Kenya', 'Country_Kuwait',
       'Country_Liberia', 'Country_Malaysia', 'Country_Netherlands',
       'Country_Nigeria', 'Country_Oman', 'Country_Philippines',
       'Country_Qatar', 'Country_Russia', 'Country_Saudi Arabia',
       'Country_Singapore', 'Country_South Africa', 'Country_Sri Lanka',
       'Country_Sweden', 'Country_Switzerland', 'Country_Tanzania',
       'Country_Uganda', 'Country_United Arab Emirates',
       'Country_United Kingdom', 'Country_United States', 'Country_Vietnam',
       'Country_unknown', 'What is your current occupation_Housewife',
       'What is your current occupation_Other',
       'What is your current occupation_Student',
       'What is your current occupation_Unemployed',
       'What is your current occupation_Working Professional',
       'How did you hear about Madugital_Email',
       'How did you hear about Madugital_Multiple Sources',
       'How did you hear about Madugital_Online Search',
       'How did you hear about Madugital_Other',
       'How did you hear about Madugital_SMS',
       'How did you hear about Madugital_Select',
       'How did you hear about Madugital_Social Media',
       'How did you hear about Madugital_Student of SomeSchool',
       'How did you hear about Madugital_Word Of Mouth'],
      dtype='object')

In [24]:
from sklearn.tree import DecisionTreeClassifier

X_train = train.drop(['Converted', 'How did you hear about Madugital_Email',
       'How did you hear about Madugital_Multiple Sources',
       'How did you hear about Madugital_Online Search',
       'How did you hear about Madugital_Other',
       'How did you hear about Madugital_SMS',
       'How did you hear about Madugital_Select',
       'How did you hear about Madugital_Social Media',
       'How did you hear about Madugital_Student of SomeSchool',
       'How did you hear about Madugital_Word Of Mouth'], 1)
y_train = train['Converted']
X_test = test.drop(['Converted', 'How did you hear about Madugital_Email',
       'How did you hear about Madugital_Multiple Sources',
       'How did you hear about Madugital_Online Search',
       'How did you hear about Madugital_Other',
       'How did you hear about Madugital_SMS',
       'How did you hear about Madugital_Select',
       'How did you hear about Madugital_Social Media',
       'How did you hear about Madugital_Student of SomeSchool',
       'How did you hear about Madugital_Word Of Mouth'], 1)
y_test = test['Converted']

dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

C:\Users\Dell Vostro.DESKTOP-93R7U6G\AppData\Local\Temp\ipykernel_560\1292406484.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_train = train.drop(['Converted', 'How did you hear about Madugital_Email',
C:\Users\Dell Vostro.DESKTOP-93R7U6G\AppData\Local\Temp\ipykernel_560\1292406484.py:13: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_test = test.drop(['Converted', 'How did you hear about Madugital_Email',

DecisionTreeClassifier()

In [26]:
predictions = dt.predict(X_test)
predictions

array([0, 1, 1, ..., 0, 0, 1], dtype=int64)

In [27]:
y_test

2212    0
3034    1
4492    0
5063    0
7645    0
       ..
7966    1
9071    0
6208    0
6589    0
818     1
Name: Converted, Length: 2772, dtype: int64

In [28]:
#Data Modelling Evaluation
from sklearn.metrics import accuracy_score, precision_score, recall_score
y_pred = dt.predict(X_test)
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
print(acc, prec, recall)

0.7027417027417028 0.7159090909090909 0.40458715596330275